{% extends 'base.html.twig' %}

{% block metaDescription %}Ajout d'une franchise.{% endblock %}
{% block title %}ajout franchise - {% endblock %}
{% block franchiseActive %}active{% endblock %}
{% block panelPage %}home{% endblock %}

{% block content %}

<div class="body-edit">

    <div class="formtype">

        {# form title #}
        <div class="title-edit">
            <h3>ajout d'une nouvelle franchise</h3>
            <p>étape 3 de 3</p>
            <h1>nouveau contrat</h1>
            <p>veuillez sélectionner les outils à inclurent</p>
        </div>

        {# insert symfony form #}
        {{ form_start(form) }}
            <div class="belongs">
                {{ form_row(form.franchise) }}
            </div>
            <br>
            {# save button #}
            {{ form_widget(form) }}
            <div class="formbutton">
                <button class="edit-button">enregistrer</button>
            </div>
        {{ form_end(form) }}

    </div>
    
</div>

{% endblock %}
