{% extends 'base.html.twig' %}

{% block metaDescription %}L'agrume indigo {% endblock %}
{% block title %}erreur - {% endblock %}
{% block panelPage %}home{% endblock %}

{% block content %}

<div class="body-index">

    <div class="page-title">
        <h1>Oups !</h1>

        <p>Il semble y avoir un problème avec le site, merci de nous <a href="mailto:tech@lagrumeindigo.com">contacter</a> et nous règlerons le problème dans les plus bref délais. Désolé pour les incovénients.</p>

    </div>

</div>

{% endblock %}