{% apply inline_css %}

<style>
h1 {
  font-size: 1.75rem;
  color: #002B5B;
}
h2 {
  font-size: 1.5rem;
  color: #002B5B;
}
p span, h2 span {
  color: #EC994B;
}
a {
  color: #000000;
  text-decoration: none;
}
a:focus {
  color: #EC994B;
  font-weight: bold;
}

</style>

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <h1>modification apporté à votre compte</h1>

    <p><a href="https://lagrumeindigo.herokuapp.com/login"><span>Connectez-vous</span></a> pour prendre connaissance des changements.</p>

    <br>
    <p>---</p>
    <h2>l'équipe de <a href="mailto:tech@lagrumeindigo.com"><span>l'agrume indigo</span></a></h2>

  </body>
</html>

{% endapply %}
